<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Remove WebDAV handler which can interfere with PUT/DELETE -->
      <remove name="WebDAVModule" />
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- Remove WebDAV module -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    
    <!-- Enable PUT and DELETE methods -->
    <security>
      <requestFiltering>
        <verbs>
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    
    <rewrite>
      <rules>
        <!-- Don't interfere with node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?" />
        </rule>

        <!-- Static files already handled by IIS staticContent -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application -->
        <rule name="DynamicContent">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <!-- You can control how Node is hosted within IIS using the following options -->
    <iisnode      
      node_env="%node_env%"
      nodeProcessCommandLine="node"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      enableXFF="true"
      promoteServerVars="LOGON_USER,AUTH_USER,AUTH_TYPE"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      debugHeaderEnabled="false"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="false"
      flushResponse="false"
      watchedFiles="*.js;iisnode.yml"
    />

  </system.webServer>
</configuration>
